<div class="page-header">
    <h3>
        <a ui-sref="orders.list({pageNumber: $ctrl.pageNumber})" class="btn btn-primary btn-alt btn-xs btn-return">
            <span class="fa fa-arrow-left"></span> {{ 'customer.orders.return' | t }}
        </a>
    </h3>
</div>
<div id="order-detail" class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                    {% capture order_number %}{% raw %}{{$ctrl.orderNumber}}{% endraw %}{% endcapture %}
                                <h3 class="my-3">{{ 'customer.order.title' | t: order_number }}</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>{{ 'customer.orders.status' | t }}: <span ng-bind="$ctrl.order.status" class="info"></span></p>

                                    </div>
                                    <div class="col-md-8">
                                        <span class="pull-right">
                                            {% capture created_date %}<strong ng-bind="$ctrl.order.createdDate | date: 'medium'" class="info"></strong>{% endcapture %}
                                            {{ 'customer.order.placed_on_date_html' | t: created_date }}
                                        </span>
                                        <div ng-if="$ctrl.order.isCancelled">
                                            {% capture cancelled_on %}<span ng-bind="$ctrl.order.modifiedDate | date: 'medium'" class="info"></span>{% endcapture %}
                                            <p>
                                                {{ 'customer.order.cancelled_on' | t: cancelled_on }}
                                            </p>
                                            <p>{{ 'customer.order.cancel_reason' | t }}: {% raw %}{{ $ctrl.order.cancelReason }}{% endraw %}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.order">
                        <div class="col-md-12">
                            <vc-line-items order="$ctrl.order"></vc-line-items>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="d-flex justify-content-between order-action-block">
                        <button class="btn btn-primary btn-lg p-0" ng-click="$ctrl.getInvoicePdf()">
                            <span class="btn-text">{{ 'customer.order.get_invoice' | t }}</span>
                            <span class="btn-loading"></span>
                        </button>
                        <button class="btn btn-primary btn-lg p-0">
                            <span class="btn-text">{{ 'customer.order.reorder' | t }}</span>
                            <span class="btn-loading"></span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Order totals</div>
                        <div class="panel-body">
                            <vc-totals order="$ctrl.order"></vc-totals>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="$ctrl.deliveryMethod.type =='shipping'">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ 'customer.order.billing_address' | t }}</div>
                        <div class="panel-body">
                            <vc-address address="$ctrl.billingAddress"></vc-address>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="$ctrl.deliveryMethod.type =='shipping'">
                    <div class="panel panel-default" ng-if="$ctrl.order.shipments[0].deliveryAddress">
                        <div class="panel-heading">{{ 'customer.order.shipping_address' | t }}</div>
                        <div class="panel-body">
                            <vc-address address="$ctrl.order.shipments[0].deliveryAddress"></vc-address>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="$ctrl.deliveryMethod.type =='pickup'">
                    <div class="panel panel-default">
                        <div class="panel-heading">PICKUP INFORMATION</div>
                        <div class="panel-body">
                            <vc-address address="$ctrl.deliveryMethod.fulfillmentCenter.address"></vc-address>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">PAYMENT DETAILS</div>
                        <div class="panel-body">
                            <div class="h5">
                                <span>{{ 'customer.order.payment_type' | t }}</span>
                            </div>
                            <div class="form-group">
                                <select name="paymentMethodSelect" id="paymentMethodSelect" ng-model="$ctrl.selectedPaymentMethodCode" ng-change="$ctrl.paymentMethodChanged()" class="form-control" ng-disabled="$ctrl.order.inPayments[0].status === 'Paid'">
                                    <option ng-repeat="method in $ctrl.paymentMethods" ng-value="method.code" ng-bind="method.displayName"></option>
                                </select>
                            </div>
                            <div ng-if="$ctrl.order.inPayments[0].status !== 'Paid'">
                                <button class="btn btn-primary btn-lg" ng-click="$ctrl.payInvoice()">
                                    <span class="btn-text">{{ 'customer.order.pay_invoice' | t }}</span>
                                    <span class="btn-loading"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <hr class="hr--small" ng-if="$ctrl.order.subscriptionNumber" />
                    <div class="vc-section-header" ng-if="$ctrl.order.subscriptionNumber">
                        <div class="vc-t">{{ 'customer.order.subscription' | t }}</div>
                        <div class="vc-descr">
                            {{ 'customer.order.subscription_comment' | t }}
                            <a ng-bind="$ctrl.order.subscriptionNumber" ui-sref="subscriptions.detail({number: $ctrl.order.subscriptionNumber})"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
