<div id="account-lists.tpl.liquid" type="text/ng-template" ng-init='$ctrl.initialize({{ settings.lists | json }})'>

    <div ng-if="$ctrl.accountLists.errors.length">
        <p>{{ 'general.forms.post_error' | t }}</p>
        <ul>
            <li ng-repeat="error in $ctrl.accountLists.errors" ng-bind="error"></li>
        </ul>
    </div>

    <p ng-if="$ctrl.lists.length == 0">{{'wishlist.general.emptyData' | t}}</p>

    <div ng-if="$ctrl.accountLists.lists.length != 0">
        <div class="row mb-3">
            <div class="col-12">
                <h3>Your List</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-2">
                <ul class="nav vertical-menu flex-column">
                    <li ng-repeat="list in $ctrl.accountLists.lists"
                        class="nav-item"
                        ng-class="{'bg-primary font-weight-bold': $ctrl.accountLists.selectedList.name == list.name}"
                        ng-click="$ctrl.accountLists.selectList(list)">
                        <a class="nav-link text-dark text-condensed" href="" ng-bind="list.name"></a>
                    </li>
                </ul>
                <div ng-if='$ctrl.pageSettings.totalItems > $ctrl.pageSettings.itemsPerPageCount'  ng-include="'pagerTemplate.html'"></div>
            </div>
            <div class="col-8 col-sm-10">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-end mb-3">
                            <button ng-if="$ctrl.accountLists.lists.length != 0" class="btn btn-outline-primary mr-2" ng-click="$ctrl.listSettings()"><i class="fa fa-cog" aria-hidden="true"></i> {{'wishlist.general.settings' | t}}</button>
                            <button ng-if="$ctrl.accountLists.selectedTab === 'myLists'" class="btn btn-outline-primary" ng-click="$ctrl.createList()"><i class="fa fa-plus" aria-hidden="true"></i> {{'wishlist.general.create' | t}}</button>
                        </div>

                        <span ng-if="$ctrl.accountLists.selectedList.items.length == 0">
                            <h2>{{ 'wishlist.general.empty' | t }}</h2>
                            <p>Continue browsing <a ng-href={% raw %}{{$ctrl.getCollectionsLink()}}{% endraw %}>here</a>.</p>
                        </span>

                        <table class="table table-striped" ng-if="$ctrl.accountLists.selectedList.items.length > 0" aria-label="Account lists">
                            <thead>
                                <tr class="text-condensed">
                                    <th scope="col" class="border-bottom-0"></th>
                                    <th scope="col" class="border-bottom-0"></th>
                                    <th scope="col" class="border-bottom-0">Name</th>
                                    <th scope="col" class="border-bottom-0">Price</th>
                                    <th scope="col" class="border-bottom-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="lineItem in $ctrl.accountLists.selectedList.items">
                                    <td class="col-2 col-md-1">
                                        <img class="img-fluid" alt="{% raw %}{{ lineItem.name }}{% endraw %}" ng-src="{% raw %}{{ lineItem.imageUrl }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-if="lineItem.imageUrl" />
                                    </td>
                                    <td>
                                        <a href="" ng-click="$ctrl.accountLists.removeLineItem(lineItem, $ctrl.accountLists.selectedList)">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <div>
                                            <a ng-bind="lineItem.name" ng-href="{% raw %}{{$ctrl.getProductLink(lineItem.productId)}}{% endraw %}"></a>
                                        </div>
                                        <div ng-if="!lineItem.modifiedBy" ng-bind="'Added '+ (lineItem.createdDate | date:'MMMM d, y')"></div>
                                        <div ng-if="lineItem.modifiedBy" ng-bind="'Added by '+ (lineItem.modifiedBy) +' in '+ (lineItem.createdDate | date:'MMMM d, y')"></div>
                                        <div class="bg-warning text-center" ng-if="lineItem.productAdded">{{ 'wishlist.general.added_to_cart' | t}}</div>
                                    </td>
                                    <td>
                                        <div ng-bind="lineItem.placedPrice.formattedAmount"></div>
                                        <div ng-if="lineItem.listPrice.amount > lineItem.placedPrice.amount" ng-bind="lineItem.listPrice.formattedAmount"></div>
                                    </td>
                                    <td>
                                        <button type="button" name="add" id="addToCart" class="btn btn-primary"
                                                ng-click="$ctrl.accountLists.addToCart(lineItem)" ng-disabled="!$ctrl.canBeAddedToCart(lineItem)">
                                            <span id="addToCartText" ng-if="!lineItem.product.isBuyable">{{ 'products.product.unavailable' | t }}</span>
                                            <span id="addToCartText" ng-if="lineItem.product.isBuyable && !lineItem.product.isInStock">{{ 'products.product.sold_out' | t }}</span>
                                            <span id="addToCartText" ng-if="lineItem.product.isBuyable && lineItem.product.isInStock">{{ 'products.general.add_to_cart' | t }}</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-if="$ctrl.accountLists.selectedList.items.length">
                            <button type="button" name="add" id="addToCart" class="btn btn-primary pull-right"
                                    ng-disabled="!$ctrl.addToCartAllProductsEnabled()"
                                    ng-click="$ctrl.addToCartAllProducts($ctrl.accountLists.selectedList.name)">
                                {{ 'wishlist.general.add_all_products' | t }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
