<div class="card mb-3">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <span class="h4 mb-0">{{ 'customer.dashboard.last_orders' | t }}</span>
            <a ui-sref="orders.list">
                {{ 'customer.dashboard.all_orders_link_text' | t }} <span class="fa fa-arrow-right pl-2"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-head-hover mb-0">
                <thead>
                    <tr class="text-condensed">
                        <th>{{ 'customer.orders.order_number' | t }}</th>
                        <th>{{ 'customer.orders.purchase_order' | t }}</th>
                        <th>{{ 'customer.orders.invoice' | t }}</th>
                        <th>{{ 'customer.orders.date' | t }}</th>
                        <th>{{ 'customer.orders.status' | t }}</th>
                        <th>{{ 'customer.orders.total' | t }}</th>
                    </tr>
                </thead>
                <tbody ng-if="$ctrl.entries.length">
                    <tr ng-repeat="order in $ctrl.entries">
                        <td>
                            <a ng-href="{{ 'account#/orders/' | absolute_url }}{% raw %}{{order.number}}{% endraw %}?pageNumber=1">{% raw %}{{order.number}}{% endraw %}</a>
                        </td>
                        <td ng-bind="order.purchaseOrderNumber"></td>
                        <td ng-bind="order.number"></td>
                        <td ng-bind="order.createdDate | date"></td>
                        <td ng-bind="order | orderToSummarizedStatusLabel"></td>
                        <td ng-bind="order.total.formattedAmount"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p ng-if="!$ctrl.entries.length && !$ctrl.loader.isLoading" class="text-center">{{ 'customer.orders.none' | t }}</p>
        </div>
    </div>
</div>
