{% include 'product/type/common/product-title-info' %}
<div class="row flexible">
    <div class="col-md-3">
        {% include 'product/image' %}
        {% include 'product/compare' %}
        {% include 'product/product-compare-list-bar' %}
    </div>

    <div class="col-md-6">
        {% if product.properties.size > 0 %}
            {% include 'product/type/common/product-properties' %}
            {% include 'product/type/common/product-description' %}
        {% endif %}
        {% include 'product/variations-panel' %}
    </div>

    <div class="col-md-3" ng-controller="priceController">
        <div class="panel panel-default price-panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="h4">Price & delivery</span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="price-block">
                  {% assign product = product %}
                  {% include 'product/price' %}
                </div>

                <div class="delivery-cart">
                    <div ng-controller="purchaseController" ng-init='loadPaymentPlan({{ settings.available_paymentPlans | json }}, "product", "{{ product.id }}")'>
                        <p ng-show="shipmentType == 'shipping' && shipmentAddress">Expected to arrive: <strong ng-bind="availability['{{ product.id }}'].expectedArrival | date: 'fullDate'"></strong></p>
                        <p ng-show="shipmentType == 'pickup' && shipmentFulfillmentCenter">Available for pickup: <strong ng-bind="availability['{{ product.id }}'].availableSince | date: 'fullDate'"></strong></p>
                        <vc-payment-plan available-payment-plans="::availablePaymentPlans"></vc-payment-plan>
                        <div class="form-group">
                            <ng-controller ng-controller="commonProductCardController">
                                {% include 'product/quantity' %}
                            </ng-controller>
                        </div>
                    </div>
                </div>

                {% include 'product/type/common/product-action-buttons' %}

                <div>
                    <vc-shipping-type is-dropdown="false" pickup-method-code="{{ settings.pickup_shipping_method }}"></vc-shipping-type>
                </div>
            </div>
        </div>
    </div>

    {% include 'product/type/common/related-products' %}

</div>
