<script id="storefront.send-cart-to-email.tpl" type="text/ng-template">
    <div class="modal-header align-items-center bg-gray-200">
        <h4 class="modal-title">{{ 'cart.send_to_email.title' | t }}</h4>
        <button type="button" class="close py-0 mt-n4" ng-click="close()" title="{{ 'cart.send_to_email.close' | t }}" aria-label="{{ 'cart.send_to_email.close' | t }}">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-0">
        <vc-loader is-loading="isLoading"></vc-loader>
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="border-0 align-middle">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="allMembersToggler" ng-model="allMembersSelected" ng-checked="hasAllOrganizationMemberChecked()" ng-click="toggleAllOrganizationMembers()">
                                <label for="allMembersToggler" class="custom-control-label"></label>
                            </div>
                        </th>
                        <th class="border-0 align-middle" ng-click="sortChanged('name')" ng-class="{'desc': getSortDirection('name') == sortDescending, 'asc': getSortDirection('name') == sortAscending }">{{ 'cart.send_to_email.name' | t }}</th>
                        <th class="border-0 align-middle" ng-click="sortChanged('email')" ng-class="{'desc': getSortDirection('email') == sortDescending, 'asc': getSortDirection('email') == sortAscending }">{{ 'cart.send_to_email.email' | t }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="member in organizationMembers">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="{% raw %}{{member.id}}{% endraw %}" class="custom-control-input" ng-model="organizationMemberChecks[member.id]">
                                <label for="{% raw %}{{member.id}}{% endraw %}" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td ng-bind="member.name"></td>
                        <td ng-bind="member.email"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <label class="font-weight-bold">{{ 'cart.send_to_email.message.title' |t }}</label>
        <textarea class="form-control" placeholder="{{ 'cart.send_to_email.message.placeholder' | t }}" rows="5"></textarea>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-dark" ng-click="close()">{{ 'cart.send_to_email.cancel' | t }}</button>
        <button type="button" class="btn btn-primary" ng-click="send(email)" ng-disabled="!hasAnyOrganizationMemberCheck()">{{ 'cart.send_to_email.send' | t }}</button>
    </div>
</script>
