<nav class="navbar navbar-default navbar-condensed navbar-static-top small" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="navbar-text">
                    <ul class="list-horizontal">
                        <li>
                            <span ng-if="customer && !customer.isRegisteredUser">
                                {{ 'customer.account.title' | t | customer_login_link | replace: 'href', 'class="navbar-link" href' }}
                            </span>
                            <span ng-if="customer && customer.isRegisteredUser">
                                <a class="navbar-link" href="{{ 'account' | absolute_url }}">{{ 'customer.account.title' | t }}</a>
                            </span>
                        </li>
                        <!-- TODO: Add links to orders, lists in account via ui-router -->
                        <li>
                            <a class="navbar-link" href="{{ 'account/b4#/orders/' | absolute_url }}">{{ 'customer.orders.title' | t }}</a>
                        </li>
                        <li>
                            <a class="navbar-link" href="{{ 'account/b4#/lists/' | absolute_url }}">{{ 'customer.lists.title' | t }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="navbar-text navbar-right" ng-if="customer && !customer.isRegisteredUser" ng-cloak>
                    <ul class="list-inline">
                        <li>
                            {{ 'layout.customer.sign_in' | t | customer_login_link | replace: 'href', 'class="navbar-link text-uppercase" href' }}
                        </li>
                        <li>
                            {{ 'layout.customer.register_now' | t | customer_register_link | replace: 'href', 'class="navbar-link text-uppercase" href' }}
                        </li>
                    </ul>
                </div>
                <div class="navbar-text navbar-right" ng-if="customer && customer.isRegisteredUser" ng-cloak>
                    <ul class="list-inline list-inline-divider">
                        <li>
                            {% raw %}{{ customer.firstName }} {{ customer.lastName }}{% endraw %}
                        </li>
                        <li class="position-relative">
                            <vc-account-switch></vc-account-switch>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
