<nav class="border-top border-primary border-4 small" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="navbar-text">
                    <ul class="list-inline list-divider m-0">
                        <li class="list-inline-item">
                            <span ng-if="customer && !customer.isRegisteredUser">
                                {{ 'customer.account.title' | t | customer_login_link }}
                            </span>
                            <span ng-if="customer && customer.isRegisteredUser">
                                <a href="{{ 'account' | absolute_url }}">{{ 'customer.account.title' | t }}</a>
                            </span>
                        </li>
                        <!-- TODO: Add links to orders, lists in account via ui-router -->
                        <li class="list-inline-item">
                            <a href="{{ 'account#/orders/' | absolute_url }}">{{ 'customer.orders.title' | t }}</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{{ 'account#/lists/' | absolute_url }}">{{ 'customer.lists.title' | t }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <div class="navbar-text" ng-if="customer && !customer.isRegisteredUser" ng-cloak>
                    <ul class="list-inline m-0">
                        <li class="list-inline-item">
                            {{ 'layout.customer.sign_in' | t | customer_login_link | replace: 'href', 'class="text-uppercase" href' }}
                        </li>
                        <li class="list-inline-item">
                            {{ 'layout.customer.register_now' | t | customer_register_link | replace: 'href', 'class="text-uppercase" href' }}
                        </li>
                    </ul>
                </div>
                <div class="navbar-text" ng-if="customer && customer.isRegisteredUser" ng-cloak>
                    <ul class="list-inline list-divider m-0">
                        <li class="list-inline-item">
                            {% raw %}{{ customer.firstName }} {{ customer.lastName }}{% endraw %}
                        </li>
                        <li class="list-inline-item">
                            <vc-account-switch-migration class="d-inline-block"></vc-account-switch-migration>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
