<main class="container pt-4 pb-5 flex-grow-1">
  <div class="d-flex flex-column align-items-center">
    {% if form.posted_successfully %}
        <div id="resetSuccess">
            {{ 'customer.sign_in.reset_password_success' | t }}
        </div>
    {% endif %}
    <div id="recover_password" class="d-flex flex-column align-items-center">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>
        <form accept-charset="UTF-8" action="{{ '~/account/forgotpassword' | absolute_url }}" method="post" class="text-center" id="recover_customer_password" name="recover_customer_password">
            {% include 'form-errors-custom' %}
            <div class="row align-items-center mb-2">
                <div class="col-auto">
                    <label for="recover-email" class="col-form-label">{{ 'customer.recover_password.email' | t }}</label>
                </div>
                <div class="col-auto">
                    <input class="form-control" type="email" value="" name="email" id="recover-email" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="{{ 'customer.recover_password.submit' | t }}">
            {{ antiforgery }}
        </form>
    </div>
  </div>
</main>


