{% layout 'bootstrap-migration' %}

<main class="container pt-4 pb-5 flex-grow-1">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form accept-charset="UTF-8" action="{{ '~/account/resetpassword' | absolute_url }}" method="post" id="reset_customer_password" name="reset_customer_password">
                <input type="hidden" value="{{ form.email }}" name="customer[email]">
                <input type="hidden" value="{{ form.token }}" name="customer[token]">

                <h1>{{ 'customer.reset_password.title' | t }}</h1>
                <p>{{ 'customer.reset_password.subtext' | t: email }}</p>
                {% include 'bootstrap-migration/form-errors-custom' %}
                <div class="row mb-3">
                    <label for="reset_password" class="col-sm-3 col-form-label">{{ 'customer.reset_password.password' | t }}</label>
                    <div class="col-sm-9">
                        <input type="password" value="" name="customer[password]" class="form-control {% if form.errors contains "password" %}is-invalid{% endif %}" id="reset_password">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="password_confirmation" class="col-sm-3 col-form-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                    <div class="col-sm-9">
                        <input type="password" value="" name="customer[password_confirmation]" class="form-control {% if form.errors contains "password_confirmation" %}is-invalid{% endif %}" id="password_confirmation">
                    </div>
                  </div>
                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{{ 'customer.reset_password.submit' | t }}">
                </div>

                {{ antiforgery }}
            </form>
        </div>
    </div>
</main>
