<div class="d-flex flex-column">
    <div class="d-flex align-items-center">
        <div class="col-xs-2 col-md-1 align-self-start">
            <img class="img-responsive" alt="{% raw %}{{ $ctrl.item.product.name }}{% endraw %}" ng-src="{% raw %}{{ $ctrl.item.product.primaryImage.url }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" />
        </div>
        <div class="col-xs-4 col-md-4">
            <p><span ng-bind="$ctrl.item.product.name" class="text-bold"></span></p>
            <p><span class="text-bold">{{ 'checkout.item' | t }}</span> <span ng-bind="$ctrl.item.product.sku"></span></p>
            <p>
                <span class="text-bold">{{ 'checkout.price' | t }}</span>
                {% if settings.show_prices_with_taxes %}
                    <span ng-bind="$ctrl.item.placedPriceWithTax.formattedAmount" class="text-bold text-green"></span>
                {% else %}
                    <span ng-bind="$ctrl.item.placedPrice.formattedAmount" class="text-bold text-green"></span>
                {% endif %}
                <span>/ each</span>
            </p>
            <p class="d-flex">
                <img class="img-responsive mr-2" src="{{ 'customize.svg' | asset_url }}" />
                <a ng-bind="$ctrl.getToggleTitle()" ng-click="$ctrl.toggleConfiguration()" class="cursor-pointer"></a>
            </p>
        </div>
        <div class="hidden-xs hidden-sm col-md-3" ng-init='$ctrl.loadPaymentPlan({{ settings.available_paymentPlans | json }}, "product", $ctrl.item.productId)'>
            <vc-item-availability availability="$ctrl.item.availability"></vc-item-availability>
        </div>
        <div class="col-xs-3 col-md-2">
            <div class="row nogap d-flex" ng-class="{'align-items-baseline': outOfStockError}">
                <div class="col-md-6 form-group pl-2 m-0">
                    <input ng-if="!outOfStockError" class="form-control text-center" type="text" ng-model="$ctrl.item.quantity" vc-integer />
                    <input ng-if="outOfStockError" class="form-control text-center" type="text" ng-value="0" disabled />
                    <small ng-if="outOfStockError" class="text-danger">{{ 'checkout.out_of_stock' | t }}</small>
                </div>
                <div class="col-md-6">
                    <a ng-if="!outOfStockError" href="" ng-click="$ctrl.changeQty()">{{ 'checkout.update' | t }}</a>
                    <a href="" ng-click="$ctrl.remove()">{{ 'checkout.remove' | t }}</a>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-md-2 text-bold">
            <p ng-class="{'m-0': !outOfStockError}">
                <span class="text-condensed">{{ 'cart.general.total' | t }}</span><br>
                {% if settings.show_prices_with_taxes %}
                    <span ng-if="!outOfStockError" ng-bind="$ctrl.item.extendedPriceWithTax.formattedAmount" class="text-green"></span>
                {% else %}
                    <span ng-if="!outOfStockError" ng-bind="$ctrl.item.extendedPrice.formattedAmount" class="text-green"></span>
                {% endif %}
                    <span ng-if="outOfStockError" class="text-green" ng-bind="$ctrl.setOutOfStockPrice()"></span>
            </p>
        </div>
    </div>
    <div ng-if="showConfiguration" class="col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12">
                        <span class="h4">{{ 'checkout.configuration_parts' | t }}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table no-vertical-borders small-table-head table-row-padding margin-0">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{{ 'checkout.product' | t }}</th>
                                <th class="text-center">{{ 'cart.general.quantity' | t }}</th>
                                <th class="text-right">{{ 'cart.general.total' | t }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="part in $ctrl.item.parts" class="border-bottom-light">
                                <td class="text-center">
                                    <img alt="{% raw %}{{ part.items[0].name }}{% endraw %}" ng-src="{% raw %}{{ part.image.url }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" />
                                </td>
                                <td class="d-flex flex-column">
                                    <span class="text-bold" ng-bind="part.name"></span>
                                    <a ng-href="{% raw %}{{ part.items[0].product.url.replace(regex, baseUrl) }}{% endraw %}" ng-bind="part.items[0].name" class="text-bold"></a>
                                    <p class="margin-0">
                                        <span class="text-bold">{{ 'checkout.price' | t }}</span>
                                        {% if settings.show_prices_with_taxes %}
                                            <span ng-bind="part.items[0].placedPriceWithTax.formattedAmount" class="text-bold text-green"></span>
                                        {% else %}
                                            <span ng-bind="part.items[0].placedPrice.formattedAmount" class="text-bold text-green"></span>
                                        {% endif %}
                                        <span>/ each</span>
                                    </p>
                                </td>
                                <td ng-if="!part.quantityError" ng-bind="part.items[0].quantity" class="text-center"></td>
                                <td ng-if="part.quantityError && part.quantityError.availableQuantity === 0" class="text-center text-danger">
                                    <span ng-bind="part.quantityError.availableQuantity"></span>
                                    <small class="d-block">{{ 'checkout.out_of_stock' | t }}</small>
                                </td>
                                <td ng-if="!part.quantityError" class="text-bold text-green text-right">
                                    {% if settings.show_prices_with_taxes %}
                                        <span ng-bind="part.items[0].extendedPriceWithTax.formattedAmount"></span>
                                    {% else %}
                                        <span ng-bind="part.items[0].extendedPrice.formattedAmount"></span>
                                    {% endif %}
                                </td>
                                <td ng-if="part.quantityError && part.quantityError.availableQuantity === 0" ng-bind="$ctrl.setOutOfStockPrice()" class="text-bold text-green text-right"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
