<div class="row">
    <div class="col-xs-12">
        <h1>{{ product.title }}</h1>
        <ul class="list-inline">
            <li>
                <span class="text-muted">{{ 'products.product.sku' | t }}</span>&nbsp;<strong itemprop="productID">{{ product.sku }}</strong>
            </li>
            <li>
                <span class="text-muted">{{ 'products.product.mmn' | t }}</span>&nbsp;<strong itemprop="model">{{ product.properties['MMN'].value }}</strong>
            </li>
            <li>
                <span class="text-muted">UNSPSC</span>&nbsp;<strong>#41112701</strong>
            </li>
        </ul>
    </div>
</div>
