{% include 'blocks/helpers/cover-style' %}

<div id="{{ block.__id }}" class="{% if block.fullWidth != 'True' %}container-md{% else %}container-fluid{% endif %}" style="position: relative;margin-top: {{ block.marginTop }}px;margin-bottom: {{ block.marginBottom }}px;">
    <div class="block block-cover row"
         style="padding-top: {{ block.paddingTop }}px;padding-bottom: {{ block.paddingBottom }}px;{% if block.background != empty and block.background.url != '' %}background-image: url({{ block.background.url }});{% endif %}">
        <div class="cover-container">
            <div class="d-flex {{ block.columnsPosition }} flex-wrap
                    {% if block.imagePosition == 'right' %} flex-row-reverse {% endif %}"
                    style="min-height: 420px;">
                  <div class="align-self-center {{ block.secondColumnWidth }} px-0 px-sm-5 pl-md-4 pr-md-5 {% if block.containerImage and block.containerImage.url == '' %}d-none{% endif %}">
                    {% if block.containerImage and block.containerImage.url != '' %}
                          <img src="{{ block.containerImage.url }}" title="{{block.containerImage.altText}}" class="img-fluid" />
                    {% endif %}
                  </div>
              {% include 'blocks/helpers/cover-text' %}
            </div>
        </div>
    </div>
</div>

{% comment %}

__id: string (unique block id)

name: string
headerType: [ h1, h2, h3, like-h1, like-h2, like-h3 ]
noTop: bool
noBottom: bool

backgroundColor: string (hex color)
overlayColor: string (hex color)
imagePosition: string [ null, right ]
note: string
title: string
subtitle: string (wysiwyg)
background: object (url to image, alt text)
containerImage: object (url to image, alt text)
firstButton: object (url, text, style [ bootstrap buttons styles ], openInNewTab [True, False]),
secondButton: object (url, text, style [ bootstrap buttons styles ], openInNewTab [True, False]),

{% endcomment %}
