<div>
    <ui-view></ui-view>
</div>
<script id="account-company-members-list.tpl" type="text/ng-template">

    <div ng-init="init('{{ shop.id }}', '{{ current_language.culture_name }}', '{{ "/account/register" | absolute_url }}')">
        <h3 class="pb-2">{{ 'customer.edit_company_members.title' | t }}</h3>
        <table class="table table-striped" ng-if="$ctrl.entries.length" aria-label="Company members">
            <thead>
                <tr class="text-condensed">
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.full_name' | t }}</th>
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.user_name' | t }}</th>
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.job_title' | t }}</th>
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.email' | t }}</th>
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.role' | t }}</th>
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.status' | t }}</th>
                    <th scope="col" class="border-bottom-0">{{ 'customer.edit_company_members.actions' | t }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="member in $ctrl.entries" ng-class="{ 'user-inactive': member.isLockedOut }">
                    <td ng-bind="member.fullName"></td>
                    <td ng-bind="member.userName"></td>
                    <td ng-bind="member.title"></td>
                    <td ng-bind="member.email"></td>
                    <td ng-bind="member.role.name"></td>
                    <td ng-bind="member.isLockedOut ? '{{ 'customer.edit_company_members.inactive' | t }}':'{{ 'customer.edit_company_members.active' | t }}'"></td>
                    <td>
                        <div ng-show="$ctrl.showActions(member)" class="text-nowrap">
                            <button ng-if="member.firstName" ui-sref="members.detail({ member: member.id, pageNumber: $ctrl.pageSettings.currentPage })" type="button" class="btn btn-white btn-xs">
                                <img alt="{{ 'customer.edit_company_members.edit' | t }}" src="{{ 'context-pencil.svg' | asset_url }}" />
                            </button>
                            <button type="button" class="btn btn-white btn-xs" ng-click="$ctrl.delete(member)">
                               <img alt="{{ 'customer.edit_company_members.delete' | t }}" src="{{ 'context-delete.svg' | asset_url }}" />
                            </button>
                            <button type="button" class="btn btn-white btn-xs" ng-click="$ctrl.changeStatus(member)">
                                <img ng-if="member.isLockedOut" alt="{{ 'customer.edit_company_members.activate' | t }}" src="{{ 'context-activate.svg' | asset_url }}" />
                                <img ng-if="!member.isLockedOut" alt="{{ 'customer.edit_company_members.deactivate' | t }}" src="{{ 'context-deactivate.svg' | asset_url }}" />
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if='$ctrl.pageSettings.totalItems > $ctrl.pageSettings.itemsPerPageCount' ng-include="'pagerTemplate.html'"></div>
    <p ng-if="!$ctrl.entries.length && !$ctrl.loader.isLoading">{{ 'customer.edit_company_members.none' | t }}</p>

    <button va-permission="storefront:user:invite" ng-click="$ctrl.inviteInfo={}" ng-if="!$ctrl.newMember && !$ctrl.inviteInfo" class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading">
        {{ 'customer.edit_company_member.invite.title' | t }}
    </button>
    <div ng-if="$ctrl.inviteInfo" class="card-body border border-gray-500">
        <h3>{{ 'customer.edit_company_member.invite.title' | t }}</h3>
        <vc-errors message="errorMessage" errors="errors"></vc-errors>
        <form accept-charset="UTF8" name="inviteForm" ng-submit="$ctrl.invite()" novalidate="novalidate">
            <vc-labeled-text-area name="inviteEmails" form="inviteForm" label="{{ 'customer.edit_company_member.invite.emails_title' | t }}" placeholder="{{ 'customer.edit_company_member.invite.emails_placeholder' | t }}" value="$ctrl.inviteInfo.rawEmails" required="true" pattern="$ctrl.inviteEmailsValidationPattern" autofocus="true"></vc-labeled-text-area>
            <vc-labeled-text-area name="inviteMessage" form="inviteForm" label="{{ 'customer.edit_company_member.invite.message_title' | t }}" placeholder="{{ 'customer.edit_company_member.invite.message_placeholder' | t }}" value="$ctrl.inviteInfo.message" required="false"></vc-labeled-text-area>
            <div class="form-group">
                <label for="Roles" class="form-label">{{ 'customer.edit_profile.role' | t }}</label>
                <select ng-model="$ctrl.inviteInfo.role" ng-options="x as x.name for x in $ctrl.availableRoles" name="Roles" class="form-control" size="1" ng-required="true">
                    <option value="">Please select role</option>
                </select>
            </div>
            <div class="btn-toolbar">
                <button ng-click="$ctrl.cancel()" class="btn btn-dark mr-2" ng-disabled="$ctrl.loader.isLoading">
                    {{ 'customer.edit_company_member.cancel' | t }}
                </button>
                <button ng-disabled="$ctrl.loader.isLoading || inviteForm.$invalid" class="btn btn-primary">
                    {{ 'customer.edit_company_member.invite.submit' | t }}
                </button>
            </div>
        </form>
    </div>

    <button va-permission="storefront:user:create" ng-click="$ctrl.newMember={}" ng-if="!$ctrl.newMember && !$ctrl.inviteInfo" class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading">
        {{ 'customer.edit_company_member.add_new' | t }}
    </button>
    <div ng-if="$ctrl.newMember">
        <div>
            <h2>{{ 'customer.edit_company_member.add_new' | t }}</h2>
            <vc-errors message="$ctrl.errorMessage" errors="$ctrl.errors"></vc-errors>
            <vc-member-detail member="$ctrl.newMember" member-component="$ctrl.newMemberComponent" fields-config="$ctrl.addNewMemberFieldsConfig"></vc-member-detail>
        </div>
        <div>
            <button ng-click="$ctrl.cancel()" class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading">
                {{ 'customer.edit_company_member.cancel' | t }}
            </button>
            <button ng-click="$ctrl.addNewMember()" ng-disabled="$ctrl.loader.isLoading || detailForm.$pristine" class="btn btn-primary">
                {{ 'customer.edit_company_member.add' | t }}
            </button>
        </div>
    </div>
</script>
