<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-10">
                <span class="h4">{{ 'customer.dashboard.last_orders' | t }}</span>
            </div>
            <div class="col-md-2">
                <a ui-sref="orders" class="text-transform-none">
                    {{ 'customer.dashboard.all_orders_link_text' | t }} <span class="fa fa-arrow-right arrow-padding-left"></span>
                </a>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped margin-0">
                    <thead>
                        <tr>
                            <th>{{ 'customer.orders.order_number' | t }}</th>
                            <th>{{ 'customer.orders.purchase_order' | t }}</th>
                            <th>{{ 'customer.orders.invoice' | t }}</th>
                            <th>{{ 'customer.orders.date' | t }}</th>
                            <th>{{ 'customer.orders.status' | t }}</th>
                            <th>{{ 'customer.orders.total' | t }}</th>
                        </tr>
                    </thead>
                    <tbody ng-if="$ctrl.entries.length">
                        <tr ng-repeat="order in $ctrl.entries">
                            <td>
                                <a ng-bind="order.number" ui-sref="orders.detail({number: order.number})"></a>
                            </td>
                            <td ng-bind="order.purchaseOrderNumber"></td>
                            <td ng-bind="order.number"></td>
                            <td ng-bind="order.createdDate | date"></td>
                            <td ng-bind="order | orderToSummarizedStatusLabel"></td>
                            <td ng-bind="order.total.formattedAmount"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p ng-if="!$ctrl.entries.length && !$ctrl.loader.isLoading" class="text-center">{{ 'customer.orders.none' | t }}</p>
            </div>
        </div>

</div>
