<div class="col-md-8">
    <div class="pb-2">
        <h3>{{ 'customer.change_password.title' | t }}</h3>
    </div>
    <vc-errors message="errorMessage" errors="errors"></vc-errors>
        <form ng-submit="$ctrl.submit()" name="detailForm">
            <vc-errors errors="$ctrl.errors" ng-if="$ctrl.errors.length"></vc-errors>

            <div class="alert alert-success" ng-if="$ctrl.succeeded">{{ 'customer.change_password.changed' | t }}</div>

            <div class="form-group">
                <label for="oldPassword">{{ 'customer.change_password.old_password' | t }}</label>
                <input class="form-control" ng-class="{'is-invalid': (detailForm['oldPassword'].$dirty || detailForm.$submitted) && detailForm['oldPassword'].$invalid }" type="password" ng-model="$ctrl.passwordChangeData.oldPassword" name="oldPassword" placeholder="{{ 'customer.change_password.old_password' | t }}" form="detailForm" ng-init="$ctrl.setForm(detailForm)" autofocus required>
                <span class="invalid-feedback" ng-if="(detailForm['oldPassword'].$dirty || detailForm.$submitted) && detailForm['oldPassword'].$error.required">{{ 'common.required' | t }}</span>
                <span class="invalid-feedback" ng-if="(detailForm['oldPassword'].$dirty || detailForm.$submitted) && !detailForm['oldPassword'].$error.required && detailForm['oldPassword'].$invalid">{{ 'common.invalid' | t }}</span>
            </div>

            <div class="form-group">
                <label for="newPassword">{{ 'customer.change_password.new_password' | t }}</label>
                <input class="form-control" ng-class="{'is-invalid': (detailForm['newPassword'].$dirty || detailForm.$submitted) && detailForm['newPassword'].$invalid }" type="password" ng-model="$ctrl.passwordChangeData.newPassword" name="newPassword" placeholder="{{ 'customer.change_password.new_password' | t }}" form="detailForm" required>
                <span class="invalid-feedback" ng-if="(detailForm['newPassword'].$dirty || detailForm.$submitted) && detailForm['newPassword'].$error.required">{{ 'common.required' | t }}</span>
                <span class="invalid-feedback" ng-if="(detailForm['newPassword'].$dirty || detailForm.$submitted) && !detailForm['newPassword'].$error.required && detailForm['newPassword'].$invalid">{{ 'common.invalid' | t }}</span>
                <span class="text-danger-alert" ng-if="$ctrl.error.newPassword && !detailForm['newPassword'].$pristine">{{ 'customer.change_password.validation.new_password' | t }}</span>
            </div>

            <div class="form-group">
                <label for="newPasswordConfirm">{{ 'customer.change_password.new_password_confirm' | t }}</label>
                <input class="form-control" ng-class="{'is-invalid': (detailForm['newPasswordConfirm'].$dirty || detailForm.$submitted) && detailForm['newPasswordConfirm'].$invalid }" type="password" ng-model="$ctrl.passwordChangeData.newPasswordConfirm" name="newPasswordConfirm" placeholder="{{ 'customer.change_password.new_password_confirm' | t }}" form="detailForm" required>
                <span class="invalid-feedback" ng-if="(detailForm['newPasswordConfirm'].$dirty || detailForm.$submitted) && detailForm['newPasswordConfirm'].$error.required">{{ 'common.required' | t }}</span>
                <span class="invalid-feedback" ng-if="(detailForm['newPasswordConfirm'].$dirty || detailForm.$submitted) && !detailForm['newPasswordConfirm'].$error.required && detailForm['newPasswordConfirm'].$invalid">{{ 'common.invalid' | t }}</span>
                <span class="text-danger-alert" ng-if="!detailForm['newPasswordConfirm'].$pristine && $ctrl.error.newPasswordConfirm">{{ 'customer.change_password.validation.repeat_password' | t }}</span>
            </div>

            <button class="btn btn-primary" ng-disabled="$ctrl.loader.isLoading || detailForm.$pristine">
                {{ 'customer.change_password.submit' | t }}
            </button>
        </form>
</div>
