<div ng-if="$ctrl.loader.isLoading" class="loader">
    <div class="indicator"></div>
</div>
<div class="row">
    <div class="col-xs-12" ng-class="{'loading': $ctrl.loader.isLoading }">
        <div class="row">
            <div class="col-xs-4 col-sm-2">
                <div class="row">
                    <div class="page-header border-none">
                        <h3>{{ 'customer.account.title' | t }}</h3>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav nav-pills nav-stacked left-nav">
                        <li ui-sref-active="active">
                            <a ui-sref="dashboard">{{ 'customer.account.menu_label.dashboard' | t }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="{{ 'account/b4#/orders/' | absolute_url }}">{{ 'customer.account.menu_label.orders' | t }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a href="{{ 'account/b4#/profile' | absolute_url }}">{{ 'customer.account.menu_label.profile' | t }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="addresses">{{ 'customer.account.menu_label.addresses' | t }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="passwordChange">{{ 'customer.account.menu_label.change_password' | t }}</a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="lists.myLists">{{ 'customer.account.menu_label.wishlist' | t }}</a>
                        </li>
                        {% if shop.quotes_enabled %}
                        <li ui-sref-active="active">
                            <a ui-sref="quotes">{{ 'customer.account.menu_label.quotes' | t }}</a>
                        </li>
                        {% endif %}
                        <li ui-sref-active="active">
                            <a href="{{ 'account/b4#/checkoutDefaults' | absolute_url }}">Checkout Details</a>
                        </li>
                    </ul>
                </div>
                <div va-permission="storefront:organization:edit">
                    <div class="row">
                        <hr>
                        <h3>{{ 'customer.account.corporate' | t }}</h3>
                    </div>
                    <div class="row">
                        <ul class="nav nav-pills nav-stacked left-nav">
                            <li ui-sref-active="active">
                                <a ui-sref="companyInfo">{{ 'customer.account.menu_label.company_info' | t }}</a>
                            </li>
                            <li va-permission="storefront:user:view" ui-sref-active="active">
                                <a ui-sref="members.list">{{ 'customer.account.menu_label.company_members' | t }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-10">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>
