<script id="storefront.lists-added-list-item-dialog.tpl" type="text/ng-template">
    <div ng-if="!itemAdded">
        <div class="modal-header align-items-center bg-gray-modal">
            <h4 class="modal-title" ng-if="!selectedList.title">{{ 'wishlist.general.select_list' | t }}</h4>
            <button type="button" class="close py-0 mt-n4" ng-click="close()" title="{{ 'cart.general.close_cart' | t }}" aria-label="{{ 'cart.general.close_cart' | t }}"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="d-flex align-items-center modal-body" ng-class="!$last && 'border-bottom border-gray-200'" ng-repeat="list in lists">
            <div class="col-1">
                <div class="custom-control custom-radio">
                    <input type="radio" id="{% raw %}{{ list.name }}{% endraw %}" class="custom-control-input" ng-model="selectedList.name" ng-value="list.name" ng-disabled="list.contains">
                    <label class="custom-control-label" for="{% raw %}{{ list.name }}{% endraw %}"></label>
                </div>
            </div>
            <div class="col-6">
                <strong ng-bind="list.name"></strong>
            </div>
            <div class="col-5">
                <span ng-if="list.contains" >
                    {{ 'wishlist.general.list_contains' | t }}
                    <i ng-if="list.contains" class="fa fa-check-square " aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button class="btn btn-outline-dark">
                <span ng-click="close()">{{ 'wishlist.general.cancel' | t }}</span>
            </button>
            <button ng-disabled="selectedList.contains || inProgress || !selectedList.name" class="btn btn-primary" ng-click="addProductToList()">
                <span>{{ 'wishlist.general.add_to_list' | t }}</span>
            </button>
        </div>
    </div>

    <div ng-if="itemAdded">
        <div class="modal-header align-items-center bg-gray-modal">
            <h4 class="modal-title"><span ng-bind="'{{ 'wishlist.general.added_to_list' | t }}' + ' ' + selectedList.name"></span></h4>
            <button type="button" class="close py-0 mt-n4" ng-click="close()" title="{{ 'cart.general.close_cart' | t }}" aria-label="{{ 'cart.general.close_cart' | t }}"><span aria-hidden="true">&times;</span></button>
        </div>
        <table class="table mb-0">
            <tr class="d-flex align-items-center">
                <td class="col-2 border-0">
                    <img class="img-fluid" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{ dialogData.product.primaryImage.url }}{% endraw %}" alt="{% raw %}{{ dialogData.product.name }}{% endraw %}">
                </td>
                <td class="col-6 border-0">
                    <a ng-bind="dialogData.product.name"></a>
                </td>
                <td class="col-2 border-0">
                    <div ng-bind="dialogData.quantity"></div>
                </td>
                <td class="col-2 border-0">
                    <span class="font-weight-bold text-dark-green" ng-bind="dialogData.product.price.actualPrice.formattedAmount"></span>
                </td>
            </tr>
        </table>
        <div class="modal-footer">
            <button ng-click="close()" class="btn btn-outline-primary">{{ 'wishlist.general.continue_shopping' | t }}</button>
            <button ng-click="redirect('{{ 'account/b4#/lists/' | absolute_url }}')" class="btn btn-primary">{{ 'wishlist.general.view_your_list' | t }}</button>
        </div>
    </div>

</script>
