<main class="container flex-grow-1 pt-4 pb-6" role="main" ng-controller="checkoutController">
    <vc-loader is-loading="checkout.loading"></vc-loader>
    <div class="row">
        <div class="col" ng-show="checkout.cart.itemsCount == 0" ng-cloak>
            <h2>{{ 'cart.general.empty' | t }}</h2>
            <a href="{{ '' | absolute_url }}" class="btn btn-lg btn-primary">{{ 'cart.general.continue_shopping' | t }}</a>
        </div>
    </div>
    <div class="row" ng-show="checkout.cart.itemsCount > 0">
        <div class="d-none d-md-block col-md-12 mb-4">
            <div class="page-header clearfix d-flex align-items-center">
                <ul class="nav nav-pills nav-outline">
                    <li role="presentation" ng-repeat="step in checkout.wizard.steps" class="nav-item" ng-class="!$last && 'mr-3'">
                        <a href="" class="nav-link" ng-class="{'active': step.isActive, 'disabled': !step.isActive}">
                            <span class="h2" ng-bind="$index + 1"></span>
                            <span class="h2" ng-class="{'text-dark': !step.isActive}" ng-bind="step.title"></span>
                        </a>
                    </li>
                </ul>
                <ul class="list-inline mb-0 ml-auto">
                    <li class="list-inline-item">
                        <a href="" class="btn btn-link font-weight-bold" ng-click=""><i class="fa fa-bullhorn text-gray-300" aria-hidden="true"></i>&ensp;Feedback</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-link font-weight-bold" ng-click="sendToEmail()"><i class="fa fa-envelope text-gray-300" aria-hidden="true"></i>&ensp;Email</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="" class="btn btn-link font-weight-bold" ng-click="print()"><i class="fa fa-print text-gray-300" aria-hidden="true" ></i>&ensp;Print</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <vc-checkout-wizard wizard-model="checkout.wizard" on-initialized="initialize()" loading="checkout.loading">
                <vc-checkout-wizard-step name="cart" title="My Cart">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row d-none d-md-block">
                                <div class="col">
                                    <vc-checkout-delivery-method delivery-method="checkout.deliveryMethod" on-eval-availability="evalAvailability(deliveryMethod)"></vc-checkout-delivery-method>
                                </div>
                                <div class="col mt-4">
                                    <div class="d-flex align-items-center border-gray-200 border-bottom pb-4">
                                        <span class="h2 mb-0">My products</span>
                                        <ul class="list-inline list-divider m-0 ml-auto">
                                            <li class="list-inline-item">
                                                <a href="">Show Reference Information</a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="" ng-click="clearCart()">Clear Cart</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom border-gray-200 py-3" ng-repeat="item in checkout.cart.configuredGroups">
                                <vc-checkout-configurable-line-item item="item" on-change-qty="changeItemQty(item)" on-remove="removeItem(item)"></vc-checkout-configurable-line-item>
                            </div>
                            <div class="border-bottom border-gray-200 py-3" ng-repeat="lineItem in checkout.cart.usualItems">
                                <vc-checkout-line-item line-item="lineItem" on-change-qty="changeItemQty(lineItem)" on-remove="removeItem(lineItem)"></vc-checkout-line-item>
                            </div>
                            <div ng-show="relatedProducts.item.count" class="mt-3">
                                <p class="text-center"><strong>If you changed multiple quantities, </strong><a href="" ng-click="changeItemAllQty()">Update All</a></p>
                                <h2>{{ 'products.general.related_products' | t }}</h2>
                                <vc-related-products-migration product-ids="checkout.productIds"
                                                     responsive="{ 0: { items: 2 }, 768: { items: 3 }, 992: { items: 5 } }"
                                                     image-size="md"
                                                     on-update="relatedProducts = $event"></vc-related-products-migration>
                            </div>
                        </div>
                        <div class="d-md-block col-md-3">
                            <p ng-if="customer && customer.isRegisteredUser" ng-cloak>
                                <button class="btn btn-lg btn-block btn-primary" type="button" ng-disabled="checkout.loading || checkout.cart.outOfStockError" ng-click="checkout.wizard.nextStep()">
                                    {{ 'cart.general.checkout' | t }}
                                </button>
                            <p ng-if="customer && !customer.isRegisteredUser" ng-cloak>
                                {{ 'cart.general.checkout' | t | customer_login_link | replace: 'href', 'class="btn btn-lg btn-block btn-primary" ng-class="{disabled: checkout.cart.outOfStockError}" ng-disabled="checkout.cart.outOfStockError" href' }}
                            </p>
                            <div class="card mb-3">
                                <h5 class="card-header text-uppercase">
                                    Order summary
                                </h5>
                                <div class="card-body">
                                    <vc-totals order="checkout.cart" options="{ show: { payment: false, discount: true, outOfStockMessage: true } }"></vc-totals>
                                </div>
                            </div>
                            <div class="card mb-3">
                                <h5 class="card-header text-uppercase">
                                    {{ 'checkout.purchase_order_number.title' | t }}
                                </h5>
                                <div class="card-body">
                                    <form class="d-flex" accept-charset="UTF-8" name="purchaseOrderNumberForm" novalidate="novalidate">
                                        <input id="purchaseOrderNumber"
                                               class="form-control mr-2"
                                               ng-model="checkout.cart.purchaseOrderNumber"
                                               name="purchaseOrderNumber"
                                               placeholder="{{ 'checkout.purchase_order_number.placeholder' | t }}"
                                               type="text">
                                        <button ng-if="!purchaseOrderNumberExist() || purchaseOrderNumberChanged()"
                                                id="purchaseOrderNumberSubmit"
                                                class="btn d-flex align-items-center justify-content-center"
                                                ng-class="purchaseOrderNumberForm.$dirty ? 'btn-primary' : 'btn-outline-success'"
                                                ng-disabled="!checkout.cart.purchaseOrderNumber && !purchaseOrderNumberForm.$dirty"
                                                ng-click="setPurchaseOrderNumber(purchaseOrderNumberForm)">
                                            <i class="fa fa-check" aria-hidden="true" ></i>
                                        </button>
                                        <button ng-if="purchaseOrderNumberExist() && !purchaseOrderNumberChanged()"
                                                id="removePurchaseOrderNumber"
                                                class="btn btn-outline-danger d-flex align-items-center justify-content-center"
                                                ng-click="removePurchaseOrderNumber()">
                                            <i class="fa fa-times" aria-hidden="true" ></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <h5 class="card-header text-uppercase">
                                    Promotion code
                                </h5>
                                <div class="card-body">
                                    <form class="d-flex" accept-charset="UTF-8" name="applyCouponForm" novalidate="novalidate">
                                        <input id="applyCoupon"
                                               class="form-control mr-2"
                                               ng-model="checkout.coupon.code"
                                               name="applyCoupon"
                                               placeholder="{{ 'checkout.coupon_code' | t }}"
                                               ng-disabled="couponApplied"
                                               type="text">
                                        <button ng-if="!couponApplied"
                                                id="applyCouponSubmit"
                                                class="btn d-flex align-items-center justify-content-center"
                                                ng-class="applyCouponForm.$dirty ? 'btn-primary' : 'btn-outline-success'"
                                                ng-disabled="!checkout.coupon.code"
                                                ng-click="applyCoupon(checkout.coupon)">
                                            <i class="fa fa-check" aria-hidden="true" ></i>
                                        </button>
                                        <button ng-if="couponApplied"
                                                id="removeCouponSubmit"
                                                class="btn btn-outline-danger d-flex align-items-center justify-content-center"
                                                ng-click="removeCoupon(checkout.coupon)">
                                            <i class="fa fa-times" aria-hidden="true" ></i>
                                        </button>
                                    </form>
                                    <span class="text-danger" ng-if="!checkout.coupon.appliedSuccessfully">{{ 'checkout.invalid_coupon_code' | t }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step name="review" title="Review">
                        <div class="row">
                            <div class="col-md-9 mt-4">
                                <div class="pt-4 mb-4 border-top">
                                    <h2>DELIVERY METHOD</h2>
                                    <div class="pt-3">
                                        <div class="form-group mb-2">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="deliveryMethods" class="custom-control-input" id="shipping" ng-model="checkout.deliveryMethod.type" value="shipping">
                                                <label class="custom-control-label" for="shipping">Shipping</label>
                                            </div>
                                        </div>
                                        <div class="form-group mb-2">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="deliveryMethods" class="custom-control-input" id="pickup" ng-model="checkout.deliveryMethod.type" value="pickup">
                                                <label class="custom-control-label" for="pickup">Pickup</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pt-4 mb-4 border-top" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                    <h2>SHIPPING ADDRESS</h2>
                                    <div class="d-flex align-items-center" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                        <div ng-if="checkout.shipment.deliveryAddress.city" class="mr-2">
                                            <span class="badge badge-dark mb-2" ng-if="isEqualAddress(checkout.shipment.deliveryAddress, customer.defaultShippingAddress)">Default</span>
                                            <vc-address address="checkout.shipment.deliveryAddress" edit-mode="false"></vc-address>
                                        </div>
                                        <div class="mr-2" ng-if="!checkout.shipment.deliveryAddress.city">
                                            <h4 class="m-0"><small>Please enter shipping address</small></h4>
                                        </div>
                                        <a class="btn btn-white btn-xs align-self-start" href="" ng-click="changeShippingAddress()">
                                            <img alt="{{ shop.name }}" src="{{ 'context-pencil.svg' | asset_url }}"  height="14" width="14" />
                                        </a>
                                    </div>
                                </div>

                                <div class="pt-4 mb-4 border-top" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                    <h2>SHIPPING METHOD</h2>
                                    <div class="d-flex align-items-center" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                        <div ng-if="checkout.shipment.shipmentMethod.shipmentMethodCode" class="d-flex align-items-center mr-4">
                                            <img class="img-fluid mr-3" alt="shipmentMethodLogo" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{ checkout.shipment.shipmentMethod.logoUrl }}{% endraw %}" />
                                            <div class="h5">
                                                <span ng-bind="checkout.shipment.shipmentMethod.name"></span><span ng-bind="checkout.shipment.shipmentMethod.optionName"></span>
                                                <span>
                                                    <strong ng-bind="'(' + checkout.shipment.price.formattedAmount + ')'"></strong>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="mr-2" ng-if="!checkout.shipment.shipmentMethod.shipmentMethodCode">
                                            <h4 class="m-0"><small>Please select shipping method</small></h4>
                                        </div>
                                        <a class="btn btn-white btn-xs" href="" ng-click="changeShippingMethod()">
                                            <img alt="{{ shop.name }}" src="{{ 'context-pencil.svg' | asset_url }}"  height="14" width="14" />
                                        </a>
                                    </div>
                                </div>

                                <div class="pt-4 mb-4 border-top" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                    <h2>PICKUP ADDRESS</h2>
                                    <div class="d-flex align-items-center" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                        <div ng-if="checkout.deliveryMethod.fulfillmentCenter.address.city" class="mr-2">
                                            <vc-address address="checkout.deliveryMethod.fulfillmentCenter.address" edit-mode="false"></vc-address>
                                        </div>
                                        <div class="mr-2" ng-if="!checkout.deliveryMethod.fulfillmentCenter.address.city">
                                            <h4 class="m-0"><small>Please select branch</small></h4>
                                        </div>
                                        <a class="btn btn-white btn-xs align-self-start" href="" ng-click="changePickupAddress()">
                                            <img alt="{{ shop.name }}" src="{{ 'context-pencil.svg' | asset_url }}"  height="14" width="14" />
                                        </a>
                                    </div>
                                </div>

                                <div class="pt-4 mb-4 border-top">
                                    <h2>PAYMENT METHOD</h2>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center mr-4" ng-if="checkout.payment.name">
                                            <img class="img-fluid mr-3" alt="PaymentMethodIcon" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %} {{ getPaymentIconUrl(checkout.payment) }} {% endraw %}" />
                                            <div class="h5" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                                <span ng-bind="checkout.payment.name"></span>
                                                <span><small ng-bind="checkout.payment.description"></small></span>
                                            </div>
                                            <div class="h5" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                                <span ng-bind="checkout.payment.code == 'DefaultManualPaymentMethod'? 'Pay Upon Pickup' : checkout.payment.name"></span>
                                                <span><small ng-bind="checkout.payment.description"></small></span>
                                            </div>
                                        </div>
                                        <div class="mr-2" ng-if="!checkout.payment.name">
                                            <h4 class="m-0"><small>Please select payment method</small></h4>
                                        </div>
                                        <a class="btn btn-white btn-xs" href="" ng-click="changePaymentMethod()">
                                            <img alt="{{ shop.name }}" src="{{ 'context-pencil.svg' | asset_url }}"  height="14" width="14" />
                                        </a>
                                    </div>
                                </div>

                                <div class="pt-4 mb-4 border-top">
                                    <h2>MY PRODUCTS</h2>
                                    <div class="border-bottom border-gray-200 py-3" ng-repeat="item in checkout.cart.configuredGroups">
                                        <vc-checkout-configurable-line-item item="item" ></vc-checkout-configurable-line-item>
                                    </div>
                                    <div class="border-bottom border-gray-200 py-3" ng-repeat="lineItem in checkout.cart.usualItems">
                                        <vc-checkout-line-item line-item="lineItem" ></vc-checkout-line-item>
                                    </div>
                                </div>

                            </div>
                            <div class="d-md-block col-md-3 mt-1">
                                <div class="d-flex justify-content-between mb-3">
                                    <button class="btn btn-lg btn-outline-primary w-50 d-flex align-items-center justify-content-center px-2" type="button" ng-click="checkout.wizard.prevStep()">
                                        <span class="fa fa-arrow-left mr-2"></span>
                                        <span>Back to cart</span>
                                    </button>
                                    <div class="px-2"></div>
                                    <button class="btn btn-lg btn-primary w-50 px-2" type="button" ng-disabled="checkout.loading || !checkout.isValid || checkout.isSubmitted" ng-click="createOrder()">
                                        <span>Submit order</span>
                                    </button>
                                </div>
                                <div class="card">
                                    <h5 class="card-header text-uppercase">
                                        Order summary
                                    </h5>
                                    <div class="card-body">
                                        <vc-totals order="checkout.cart" options="{ show: { payment: false, discount: true } }"></vc-totals>
                                    </div>
                                </div>
                            </div>
                        </div>
                </vc-checkout-wizard-step>
                <vc-checkout-wizard-step name="complete" title="Complete" final="true">
                    <div class="col-12">
                        <div class="row">
                            <div class="card mb-3">
                                <div class="card-header text-white bg-success">
                                    <div class="row align-items-center">
                                        <div class="col-8 col-sm-9">
                                            <p class="font-weight-bold text-condensed my-0 order-complete-title">Order <span ng-bind="checkout.order.number"></span> {{ 'checkout.order_successfully' | t }}</p>
                                        </div>
                                        <div class="col-4 col-sm-3 text-right">
                                            <button type="button" class="btn btn-white border-0" ng-click="getInvoicePdf()">{{ 'checkout.order_print' | t }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 mb-3 mb-sm-0 pr-md-2">
                                            <div class="card mb-0">
                                                <h5 class="card-header text-uppercase">{{ 'checkout.order_summary' | t }}</h5>
                                                <div class="card-body">
                                                    <vc-totals order="checkout.order"></vc-totals>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 mb-3 mb-sm-0 pl-md-2 pr-md-2" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                            <div class="card h-100 mb-0">
                                                <h5 class="card-header text-uppercase">Shipping address</h5>
                                                <div class="card-body">
                                                    <vc-address address="checkout.order.shipments[0].deliveryAddress"></vc-address>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 mb-3 mb-sm-0 pl-md-2" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                            <div class="card h-100 mb-0">
                                                <h5 class="card-header text-uppercase">{{ 'checkout.pickup_address' | t }}</h5>
                                                <div class="card-body">
                                                    <vc-address address="checkout.deliveryMethod.fulfillmentCenter.address"></vc-address>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="card h-100 mb-0">
                                                <h5 class="card-header text-uppercase">{{ 'checkout.payment_method.title' | t }}</h5>
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <img class="col-2 img-fluid" alt="Payment method" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %} {{ getPaymentIconUrl(checkout.payment) }} {% endraw %}" />
                                                        <div class="h5" ng-if="checkout.deliveryMethod.type == 'shipping'">
                                                            <span ng-bind="checkout.payment.name"></span>
                                                            <span><small ng-bind="checkout.payment.description"></small></span>
                                                        </div>
                                                        <div class="h5" ng-if="checkout.deliveryMethod.type == 'pickup'">
                                                            <span ng-bind="checkout.payment.code == 'DefaultManualPaymentMethod'? 'Pay Upon Pickup' : checkout.payment.name"></span>
                                                            <span><small ng-bind="checkout.payment.description"></small></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card w-100">
                                <h5 class="card-header text-uppercase">
                                    {{ 'checkout.purchased_products' | t }}
                                </h5>
                                <vc-line-items order="checkout.order" hide-reorder="true"></vc-line-items>
                            </div>
                        </div>
                    </div>
                </vc-checkout-wizard-step>
            </vc-checkout-wizard>
        </div>
    </div>
</main>


<script id="storefront.select-address-dialog.tpl" type="text/ng-template">
    <div class="modal-header align-items-center bg-gray-modal">
        <h4 class="modal-title">SELECT ADDRESS</h4>
        <button class="close py-0 mt-n4" type="button" ng-click="close()" title="Select address" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm mb-0">
            <thead>
                <tr class="d-flex text-condensed align-items-center border-bottom border-gray-200">
                    <th class="col-2 border-0">Recipient's name</th>
                    <th class="col-2 border-0">Address</th>
                    <th class="col-2 border-0">{{ 'customer.addresses.phone' | t }}</th>
                    <th class="col-3 border-0">{{ 'customer.addresses.email' | t }}</th>
                    <th class="col-3 border-0">Current address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresses" class="d-flex align-items-center">
                    <td class="col-2 border-0">
                        <span ng-if="address.firstName" ng-bind="address.firstName" class="text-break text-wrap"></span>
                        <span ng-if="address.lastName" ng-bind="address.lastName" class="text-break text-wrap"></span>
                    </td>
                    <td class="col-2 border-0">
                        <span ng-bind="address.line1"></span><span ng-if="address.line2">
                            , <span ng-bind="address.line2"></span>
                        </span>
                        <span ng-bind="address.city"></span>, <span ng-bind="address.regionName"></span>, <span ng-bind="address.countryCode"></span> <span ng-bind="address.postalCode"></span>
                    </td>
                    <td class="col-2 border-0">
                        <span ng-bind="address.phone"></span>
                    </td>
                    <td class="col-3 border-0 text-break">
                        <span ng-bind="address.email"></span>
                    </td>
                    <td class="col-3 border-0">
                        <label ng-if="isEqualAddress(checkout.deliveryAddress, address)" class="font-weight-bold text-nowrap">
                            <i class="fa fa-check text-primary" aria-hidden="true"></i>&nbsp;Current address
                        </label>
                        <label ng-if="!isEqualAddress(checkout.deliveryAddress, address)" class="font-weight-light text-nowrap">
                            <a role="button" class="border-bottom border-dashed border-secondary" href="" ng-click="checkout.deliveryAddress = address">Select address</a>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" ng-click="close(false)">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close(true)">Save</button>
    </div>
</script>

<script id="storefront.select-shipment-method-dialog.tpl" type="text/ng-template">
    <div class="modal-header align-items-center bg-gray-modal">
        <h4 class="modal-title">Select shipping method</h4>
        <button class="close py-0 mt-n4" type="button" ng-click="close()" title="Select shipping method" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
    </div>
    <table class="table table-striped table-sm mb-0">
        <thead>
            <tr class="d-flex text-condensed">
                <th class="col-2 border-0"></th>
                <th class="col-4 border-0">Mehtod name</th>
                <th class="col-3 text-center border-0">Price</th>
                <th class="col-3 text-right border-0">Active method</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="method in availShippingMethods" class="d-flex align-items-center" ng-class="$first && 'border-top border-gray-200'">
                <td class="col-2 border-0">
                    <img class="img-responsive" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %}{{method.logoUrl}}{% endraw %}" />
                </td>
                <td class="col-4 border-0" ng-class="{'font-weight-bold': isActive(method)}">
                    <span class="name" ng-bind="method.name"></span><span ng-bind="method.optionName"></span>
                </td>
                <td class="col-3 text-center text-muted-contrast border-0">
                    <span ng-bind="getTotal(method)"></span>
                </td>
                <td class="col-3 text-right border-0">
                    <span ng-if="!isActive(method)" class="font-weight-light text-nowrap">
                        <a role="button" class="border-bottom border-dashed border-secondary" href="" ng-click="activate(method)">Choose</a>
                    </span>
                    <span ng-if="isActive(method)" class="font-weight-bold text-nowrap">
                        <i class="fa fa-check text-primary" aria-hidden="true"></i>&nbsp;Active
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" ng-click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close(checkout.shipmentMethod)">Ok</button>
    </div>
</script>

<script id="storefront.select-payment-method-dialog.tpl" type="text/ng-template">
    <div class="modal-header align-items-center bg-gray-modal">
        <h4 class="modal-title">Select payment method</h4>
        <button class="close py-0 mt-n4" type="button" ng-click="close()" title="Select payment method" aria-label="{{ 'inventory.select_branch.close' | t }}"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <div class="row border-bottom border-gray-200 pb-3">
            <div class="offset-2 offset-md-1 col-4 col-md-8">
                <span class="font-weight-bold">Method name</span>
            </div>
            <div class="col-6 col-md-2 text-center">
                <span class="font-weight-bold">Active method</span>
            </div>
        </div>
        <div class="row align-items-center py-3" ng-class="$odd && 'bg-gray-modal'" ng-repeat="paymentMethod in availPaymentMethods">
            <div class="col-2 col-md-1">
                <img class="img-fluid" fallback-src="{{ 'no-image.svg' | asset_url }}" ng-src="{% raw %} {{ getPaymentIconUrl(paymentMethod) }} {% endraw %}" />
            </div>
            <div class="col-3 col-md-5">
                <span class="name" ng-class="{'text-bold': isActive(paymentMethod)}" ng-bind="paymentMethod.name"></span>
            </div>
            <div ng-if="isAvailable(paymentMethod)" class="offset-2 offset-md-3 col-3 col-md-2 text-center">
                <span ng-if="!isActive(paymentMethod)" class="font-weight-light text-nowrap">
                    <a role="button" class="border-bottom border-dashed border-secondary" href="" ng-click="activate(paymentMethod)">Choose</a>
                </span>
                <span ng-if="isActive(paymentMethod)" class="font-weight-bold text-nowrap">
                    <i class="fa fa-check text-primary" aria-hidden="true"></i>&nbsp;Active
                </span>
            </div>
            <div ng-if="isAvailable(paymentMethod)" class="col-1">
                <a class="btn btn-white d-flex flex-column justify-content-center border-0" ng-class="{'disabled': !isActive(paymentMethod) || !editEnabled(paymentMethod)}" href="" ng-click="edit(paymentMethod)" ng-disabled="!isActive(paymentMethod) || !editEnabled(paymentMethod)">
                    <img class="align-self-center" alt="{{ shop.name }}" src="{{ 'context-pencil.svg' | asset_url }}"  height="14" width="14" />
                </a>
            </div>
            <div ng-if="!isAvailable(paymentMethod)" class="col-7 col-md-6 d-flex align-items-center">
                <img class="img-fluid mr-3" fallback-src="{{ 'no-image.svg' | asset_url }}" src="{{ 'attention.svg' | asset_url }}" />
                <span>You have no permissions to use the credit card payment method. For more details please <a href="">contact the Organization maintainer</a></span>
            </div>
        </div>
        <div class="pt-3" ng-show="creditCardEditorVisibility">
            <demo-credit-card on-cancel="hideCreditCardEditor()"></demo-credit-card>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-outline-dark" ng-click="close()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="close(checkout.paymentMethod)">Save</button>
    </div>
</script>
