{% layout 'bootstrap-migration' %}

{% assign variants_size = product.variants | size %}
{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<main class="container pt-4 pb-6" role="main">
    <div class="row mb-3">
        <div class="col">
            {% include 'bootstrap-migration/shared/breadcrumb' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
        {% if product.product_type == "Configurable" %}
            <ng-controller ng-controller="configurableProductController">
                {% include 'bootstrap-migration/product/type/configured/product' %}
            </ng-controller>
        {% elsif variants_size != 1 %}
            <ng-controller ng-controller="productWithVariationsController">
                {% include 'bootstrap-migration/product/type/with-variations/product' %}
            </ng-controller>
        {% else %}
            <ng-controller ng-controller="productWithoutVariationsController">
                {% include 'bootstrap-migration/product/type/without-variations/product' %}
            </ng-controller>
        {% endif %}
        </div>
    </div>
</main>

{% assign productBrand = product.properties["Brand"].value | escape %}
{% assign productUrl = product.url | full_url %}
{% assign productGtin = product.gtin | escape %}
{% assign productSku = product.sku | escape %}
{% assign productName = product.name | escape %}
{% assign productCategory = current_category.name | escape %}

{% capture imagesString  %}
    {% for image in product.images %}
        "{{ image.absolute_url }}"
    {% endfor %}
{% endcapture %}
{% assign productImages = imagesString | strip | strip_newlines | split: ' ' %}

{% assign productDescription = product.description | strip_html | split: '\n' | join: ' ' | escape %}
{% assign productCurrency = product.price.actual_price_with_tax.currency.code %}
{% assign productPrice = product.price.actual_price_with_tax.amount %}

{% capture availability %}
    {% if product.is_in_stock %}
        InStock
    {% else %}
        OutOfStock
    {% endif %}
{% endcapture %}
{% assign productAvailability = availability | strip | strip_newlines %}

{% assign productListingExpired = product.end_date %}

<script type='application/ld+json'>
    {
        "@context": "https://www.schema.org",
        "@type": "product",
        "brand": "{{ productBrand }}",
        "url": "{{ productUrl }}",
        "gtin": "{{ productGtin }}",
        "sku": "{{ productSku }}",
        "name": "{{ productName }}",
        "category": "{{ productCategory }}",
        "image": {{ productImages }},
        "description": "{{ productDescription }}",
        "offers": {
            "@type": "Offer",
            "url": "{{ productUrl }}",
            "priceValidUntil": "{{ productListingExpired }}"
            "priceCurrency": "{{ productCurrency }}",
            "price": "{{ productPrice }}",
            "availability": "{{ productAvailability }}"
        }
    }
</script>

<script>
    window.product = {
        id: "{{ product.id }}",
        catalogId: "{{ product.catalog_id }}",
        categoryId: "{{ product.category_id }}",
        outline: "{{ product.outline }}",
        productType: "{{ product.product_type }}",
        taxType: "{{ product.tax_type }}"
    };
</script>
