<ng-controller ng-controller="productController">

{% assign variants_size = product.variants | size %}


{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<main class="container container-drain" role="main">
    <div class="row breadcrumbs-wrapper">
        <div class="col-xs-12">
            {% include 'shared/breadcrumb' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 container-drain" itemscope itemtype="http://schema.org/Product">
           <meta itemprop="url" content="{{ product.url | absolute_url}}">
            <meta itemprop="image" content="{{ product.featured_image.src | img_url: "308x308" }}">

        {% if product.product_type == "Configurable" %}
            {% include 'product/type/configured/product' %}
        {% elsif variants_size != 1 %}
            {% include 'product/type/with-variations/product' %}
        {% else %}
            {% include 'product/type/without-variations/product' %}
        {% endif %}

    </div>
</div>
</main>

</ng-controller>

<script>
    window.product = {
        id: "{{ product.id }}",
        catalogId: "{{ product.catalog_id }}",
        categoryId: "{{ product.category_id }}",
        outline: "{{ product.outline }}",
        productType: "{{ product.product_type }}",
        taxType: "{{ product.tax_type }}"
    };
</script>
