{% layout 'bootstrap-migration' %}

{% assign variants_size = product.variants | size %}
{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<main class="container pt-4 pb-6" role="main">
    <div class="row mb-3">
        <div class="col">
            {% include 'bootstrap-migration/shared/breadcrumb' %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- <meta itemprop="url" content="{{ product.url | absolute_url}}"> -->
            <!-- <meta itemprop="name" content="{{ product.name }}">
            <meta itemprop="description" content="{{ product.description }}">
            <meta itemprop="sku" content="{{ product.sku }}">
            <meta itemprop="image" content="{{ product.featured_image.src | img_url: "308x308" }}"> -->
        {% if product.product_type == "Configurable" %}
            <ng-controller ng-controller="configurableProductController">
                {% include 'bootstrap-migration/product/type/configured/product' %}
            </ng-controller>
        {% elsif variants_size != 1 %}
            <ng-controller ng-controller="productWithVariationsController">
                {% include 'bootstrap-migration/product/type/with-variations/product' %}
            </ng-controller>
        {% else %}
            <ng-controller ng-controller="productWithoutVariationsController">
                {% include 'bootstrap-migration/product/type/without-variations/product' %}
            </ng-controller>
        {% endif %}

    </div>
</div>
</main>


<script type='application/ld+json'>
    {
      "@context": "https://www.schema.org",
      "@type": "product",
      "brand": "Epson",
      "url": "{{ product.url }}",
      "sku": "{{ product.sku }}",
      "logo": "https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo1.png",
      "name": "{{ product.name }}",
      "category": "inkjet printers",
      "image": [
        "https://example.com/photos/1x1/photo.jpg",
        "https://example.com/photos/4x3/photo.jpg",
        "https://example.com/photos/16x9/photo.jpg"
      ],
      "description": "{{ product.description }}",
      "aggregateRating": {
        "@type": "aggregateRating",
        "ratingValue": "5",
        "reviewCount": "21"
      }
    }
</script>

<script>
    window.product = {
        id: "{{ product.id }}",
        catalogId: "{{ product.catalog_id }}",
        categoryId: "{{ product.category_id }}",
        outline: "{{ product.outline }}",
        productType: "{{ product.product_type }}",
        taxType: "{{ product.tax_type }}"
    };
</script>
