{% if product.product_type == "Configurable" %}
<a href="{{ product_url | append: '?resp_group=' | append: response_group }}">
    <button class="btn btn-alt btn-primary configure-btn"
    {% if unavailable or sold_out %} disabled {% endif %}
    title="Configure product">
    {% if unavailable %}
    {{ 'products.product.unavailable' | t }}
    {% elsif sold_out %}
    {{ 'products.product.sold_out' | t }}
    {% else %}
    <img class="img-responsive configure-icon" src="{{ 'customize.svg' | asset_url }}" />
    <span>Configure</span>
    {% endif %}
    </button>
</a>
{% else %}
    {% if show_label %}
        <label>{{ 'products.product.quantity' | t }}</label>
    {% endif %}
    <div class="input-group">
            <input type="text" class="form-control"
            ng-keydown="validateQtyInput($event)"
            ng-init="product['{{product.id}}'].quantity = 1"
            ng-model="product['{{product.id}}'].quantity"
            >
            <span class="input-group-btn">
                <button class="btn btn-alt btn-primary"
                        {% if unavailable or sold_out %} disabled {% endif %}
                        title="{{ 'products.general.add_to_cart' | t }}"
                        ng-click="addProductToCartById('{{ product.id }}', product['{{product.id}}'].quantity, $event)"
                        >
                        {% if unavailable %}
                        {{ 'products.product.unavailable' | t }}
                        {% elsif sold_out %}
                        {{ 'products.product.sold_out' | t }}
                        {% else %}
                        {{ 'products.general.add_to_cart' | t }}
                        {% endif %}
                    </button>
            </span>
    </div>
{% endif %}
