{% if show_label %}
    <label>{{ 'products.product.quantity' | t }}</label>
{% endif %}
<div class="input-group">
        <input type="text" class="form-control"
        only-integer
        ng-init="product['{{product.id}}'].quantity = 1; unavailable = {{unavailable}} || {{sold_out}} "
        ng-model="product['{{product.id}}'].quantity"
        >
        <span class="input-group-btn">
            <button class="btn btn-alt btn-primary"

                    title="{{ 'products.general.add_to_cart' | t }}"
                    ng-click="addProductToCartById('{{ product.id }}', product['{{product.id}}'].quantity, $event)"
                    ng-disabled="unavailable || !product['{{product.id}}'].quantity || product['{{product.id}}'].quantity <=0"
                    >
                        {% if unavailable %}
                            {{ 'products.product.unavailable' | t }}
                        {% elsif sold_out %}
                            {{ 'products.product.sold_out' | t }}
                        {% else %}
                            {{ 'products.general.add_to_cart' | t }}
                        {% endif %}
                </button>
        </span>
</div>
