{% if show_label %}
    <label class="{% if label_bold %}font-weight-bold{% endif %}">{{ 'products.product.quantity' | t }}</label>
{% endif %}
<div class="input-group">
    <input class="form-control" ng-change="quantityChanged(configurationQty)" ng-model-options="{ debounce: 300 }" ng-model="configurationQty" type="text" vc-integer>
    <span class="input-group-append">
        <button class="btn btn-outline-primary border-1 rounded-0" {% if unavailable or sold_out %} disabled {% endif %} title="{{ 'products.general.add_to_cart' | t }}" ng-click="addSelectedProductsToCart()">
            {% if unavailable %}
                {{ 'products.product.unavailable' | t }}
            {% elsif sold_out %}
                {{ 'products.product.sold_out' | t }}
            {% else %}
                {{ 'products.general.add_to_cart' | t }}
            {% endif %}
        </button>
    </span>
</div>
