<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h4">Credit card</span>
    </div>
    <div class="panel-body">
        <div class="d-flex flex-column">
            <div class="d-flex payment-systems">
                <img src="{{ 'visa.svg' | asset_url }}" alt="Visa">
                <img src="{{ 'master.svg' | asset_url }}" alt="MasterCard">
                <img src="{{ 'american-express.svg' | asset_url }}" alt="AmericanExpress">
                <img src="{{ 'diners-club.svg' | asset_url }}" alt="DinersClub">
                <img src="{{ 'paypal.svg' | asset_url }}" alt="Paypal">
                <img src="{{ 'jcb.svg' | asset_url }}" alt="JCB">
            </div>
            <form class="d-flex flex-column credit-card-form" accept-charset="UTF8" name="creditCardForm" novalidate="novalidate">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="panel-body credit-card-side">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="form-group">
                                    <label for="cardNumber"
                                        class="form-label">{{ 'checkout.payment_method.card_number' | t }}</label>
                                    <input name="cardNumber" class="form-control" value="8800 5553 5355 5055"
                                        disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="form-group">
                                    <label for="cardholderName"
                                        class="form-label">{{ 'checkout.payment_method.cardholder_name' | t }}</label>
                                    <input name="cardholderName" class="form-control" value="Jonh Doe" disabled />
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label for="cardExpiration"
                                        class="form-label">{{ 'checkout.payment_method.expiry_date_label' | t }}</label>
                                    <input name="cardExpiration" class="form-control" value="01/24" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body credit-card-side">
                        <div class="row card-back-strip"></div>
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3">
                                <div class="form-group">
                                    <label for="cvv" class="form-label">{{ 'checkout.payment_method.cvv' | t }}</label>
                                    <input name="cvv" class="form-control" value="100" disabled />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex btn-toolbar justify-content-end">
                    <button class="btn btn-default btn-alt" ng-click="close()">Cancel</button>
                    <button class="btn btn-primary" ng-click="close()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
