<p>{{ 'layout.customer.account' | t }} <strong>{% raw %}{{ customer.userName }}{% endraw %}</strong></p>
<ul class="list-unstyled well well-sm">
    <li>
        <a href="{{ 'account#/orders/' | absolute_url }}">{{ 'customer.orders.title' | t }}</a>
    </li>
    <li>
        <a href="{{ 'account#/' | absolute_url }}">{{ 'customer.invoices.title' | t }}</a>
    </li>
    <li>
        <a href="{{ 'account/b4#/lists/' | absolute_url }}">{{ 'customer.lists.title' | t }}</a>
    </li>
</ul>
<div class="aside-actions">
    <a href="{{ 'account' | absolute_url }}">{{ 'layout.customer.view_account' | t }}</a>
</div>
