<div class="card-body py-2 border-gray-200 text-condensed font-weight-bold">
    <div class="row align-items-center">
        <div class="col">{{ 'customer.order.product' | t }}</div>
        <div class="col-5">
            <div class="row align-items-center">
                <div class="col text-center">{{ 'customer.order.quantity' | t }}</div>
                <div class="col text-right">{{ 'customer.order.total' | t }}</div>
                <div class="col-5" ng-if="!$ctrl.hideReorder"></div>
            </div>
        </div>
    </div>
</div>
<div class="list-group list-group-flush">
    <div ng-repeat="group in $ctrl.order.configuredGroups" class="list-group-item border-gray-200">
        <div class="row align-items-center">
            <div ng-class="$ctrl.hideReorder ? 'col-1' : 'col-2'">
                <img class="img-fluid border-0 p-0" alt="{% raw %}{{ group.product.name }}{% endraw %}" ng-src="{% raw %}{{ group.product.primaryImage.url }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" />
            </div>
            <div class="col">
                <a ng-bind="group.product.name" class="text-bold" href="{% raw %}{{ group.product.url.replace(regex, baseUrl) }}{% endraw %}"></a>
                <p class="d-flex mt-1">
                    <img class="img-fluid border-0 p-0 mr-2" src="{{ 'customize.svg' | asset_url }}" alt="$ctrl.getToggleTitle(group)" />
                    <a ng-bind="$ctrl.getToggleTitle(group)" ng-click="$ctrl.toggleConfiguration(group)" class="cursor-pointer font-weight-400 font-size-13"></a>
                </p>
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <span ng-bind="group.quantity"></span>
                    </div>
                    <div class="col text-right">
                        {% if settings.show_prices_with_taxes %}
                            <p ng-bind="group.placedPriceWithTax.formattedAmount"></p>
                            <s ng-if="group.listPriceWithTax.amount > group.placedPriceWithTax.amount" ng-bind="group.listPriceWithTax.formattedAmount"></s>
                        {% else %}
                            <strong class="text-dark-green" ng-bind="group.placedPrice.formattedAmount"></strong>
                            <s ng-if="group.listPrice.amount > group.placedPrice.amount" ng-bind="group.listPrice.formattedAmount"></s>
                        {% endif %}
                    </div>
                    <div class="col-5 text-center" ng-if="!$ctrl.hideReorder">
                        <button type="button" class="btn btn-outline-primary text-condensed" ng-click="$ctrl.addConfigurationToCart(group)">{{ 'customer.order.reorder' | t }}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="group.showConfiguration">
            <div ng-class="$ctrl.hideReorder ? 'col-1' : 'col-2'"></div>
            <div class="col">
                <div class="card">
                    <div class="card-header text-uppercase text-condensed font-weight-bold">
                        <span class="h4">Configuration parts</span>
                    </div>
                    <div class="list-group list-group-flush">
                        <div ng-repeat="part in group.items" class="list-group-item border-gray-200">
                            <div class="row align-items-center">
                                <div class="col-2 text-center">
                                    <img class="img-fluid border-0 p-0" alt="{% raw %}{{ part.name }}{% endraw %}"
                                        ng-src="{% raw %}{{ part.imageUrl }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" />
                                </div>
                                <div class="col-7">
                                    <a class="font-weight-400" ng-href="{% raw %}{{ part.product.url.replace(regex, baseUrl) }}{% endraw %}"
                                        ng-bind="part.name"></a>
                                </div>
                                <div ng-bind="part.quantity" class="col text-center"></div>
                                {% if settings.show_prices_with_taxes %}
                                    <div ng-bind="part.extendedPriceWithTax.formattedAmount" class="col-2 font-weight-bold text-right"></div>
                                {% else %}
                                    <div ng-bind="part.extendedPrice.formattedAmount" class="col-2 font-weight-bold text-right"></div>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div ng-repeat="lineItem in $ctrl.order.usualItems" class="list-group-item border-gray-200">
        <div class="row align-items-center">
            <div ng-class="$ctrl.hideReorder ? 'col-1' : 'col-2'">
                <img class="img-fluid border-0 p-0" alt="{% raw %}{{ lineItem.name }}{% endraw %}" ng-src="{% raw %}{{ lineItem.imageUrl }}{% endraw %}" fallback-src="{{ 'no-image.svg' | asset_url }}" />
            </div>
            <div class="col">
                <a ng-bind="lineItem.name" class="text-bold" href="{% raw %}{{$ctrl.getProductLink(lineItem.productId)}}{% endraw %}"></a>
                {% if shop.subscription_enabled %}
                    <p ng-if="lineItem.paymentPlan">
                        <span ng-bind="'Subscription with a period: ' + lineItem.paymentPlan.intervalCount + ' ' + lineItem.paymentPlan.interval"></span>
                    </p>
                {% endif %}
            </div>
            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <span ng-bind="lineItem.quantity"></span>
                    </div>
                    <div class="col text-right">
                        {% if settings.show_prices_with_taxes %}
                            <p ng-bind="lineItem.placedPriceWithTax.formattedAmount"></p>
                            <s ng-if="lineItem.listPriceWithTax.amount > lineItem.placedPriceWithTax.amount" ng-bind="lineItem.listPriceWithTax.formattedAmount"></s>
                        {% else %}
                            <strong class="text-dark-green" ng-bind="lineItem.placedPrice.formattedAmount"></strong>
                            <s ng-if="lineItem.listPrice.amount > lineItem.placedPrice.amount" ng-bind="lineItem.listPrice.formattedAmount"></s>
                        {% endif %}
                    </div>
                    <div class="col-5 text-center" ng-if="!$ctrl.hideReorder">
                        <button type="button" class="btn btn-outline-primary text-condensed" ng-click="$ctrl.addProductToCart(lineItem.productId,lineItem.quantity)">{{ 'customer.order.reorder' | t }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

